<header class="desktop" id="header-desktop">
    <div class="header-wrapper" style="padding: 0 1.5rem;">
        <div class="header-title">
            <a href="/" title="哈喽沃德先生"><span class="header-title-pre"><img class="logo lazyautosizes ls-is-cached lazyloaded" src="/logo.png" alt="哈喽沃德先生" style="border-radius: 50%;" title="哈喽沃德先生" sizes="40px"></span>哈喽沃德先生</a>
        </div>
        <div class="menu">
            <div class="menu-inner">
                <a class="menu-item" 
                href="https://mrhelloworld.cn/" 
                rel="noopener noreffer" 
                target="_blank"> 说说 
            </a>
            <a class="menu-item" href="/urgemore/"> 催更 </a>
            <a class="menu-item" href="/posts/"> 归档 </a>
            <a class="menu-item" href="/categories/"> 分类 </a>
            <a class="menu-item" href="/tags/"> 标签 </a>
            <a class="menu-item" href="/messageboard/"> 留言 </a>
            <a class="menu-item" href="/categories/%E5%88%86%E4%BA%AB/"> 分享 </a>
            <a class="menu-item" href="/about/"> 关于 </a>
            <a class="menu-item" href="/movie/"> 电影 </a>
            <span class="menu-item delimiter"></span>
            <span class="menu-item search" id="search-desktop">
                <span class="algolia-autocomplete" 
                    style="position: relative; display: inline-block; direction: ltr;">
                    <input type="text" 
                    placeholder="请输入要查询的关键词，比如：Spring" 
                    id="search-input-desktop" class="input" 
                    autocomplete="off" spellcheck="false" 
                    role="combobox" aria-autocomplete="list" 
                    aria-expanded="false" aria-owns="algolia-autocomplete-listbox-1" 
                    dir="auto" style="position: relative; vertical-align: top;">
                    <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                </span>
                <a href="#" class="search-button search-toggle" id="search-toggle-desktop" title="搜索">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <a href="#" class="search-button search-clear" id="search-clear-desktop" title="清空">
                    <i class="fas fa-times-circle fa-fw"></i>
                </a>
                <span class="search-button search-loading" id="search-loading-desktop">
                    <i class="fas fa-spinner fa-fw fa-spin"></i>
                </span>
            </span>
            <a href="javascript:void(0);" class="menu-item theme-switch" title="切换主题">
                <i class="fas fa-adjust fa-fw"></i>
            </a>
            </div>
        </div>
    </div>
</header>